           <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
         
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>

        
        <li class="treeview">
          <a href="#">
            <i class="fa fa-folder"></i> <span>User Menu</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/reg_vehicle_rfid"><i class="fa fa-angle-double-right"></i>Register Vehicle with RFID</a></li>
            <li><a href="/log_details"><i class="fa fa-angle-double-right"></i>Log Details</a></li>
            <li><a href="/account_balance"><i class="fa fa-angle-double-right"></i>Account Balance</a></li>
            <li><a href="/vehicle_details"><i class="fa fa-angle-double-right"></i>Vehicle Details</a></li>
          </ul>
        </li>
       
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

